gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/
# Flutter & Dart
.dart_tool/
.packages
build/
.pub-cache/
.idea/
android/.gradle/
ios/Pods/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart
pubspec.lock

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
